@model WebAppViewModel
@{ 
    var textInput = Model.Unwrap<TextInputViewModel>();
    var nothingGlyph = MaterialIconGlyphViewModel.Nothing;
}
<gouda-input>
    <label><gouda-label key="@textInput.Label" /></label>
    <input class="@textInput.TypeName" name="@textInput.Name" @(textInput.Required ? "required" : string.Empty) type="text" @(textInput.ValuePattern != null ? $"pattern={textInput.ValuePattern}" : string.Empty) value="@textInput.Value" />
    <gouda-viewModel view-model="nothingGlyph" />
</gouda-input>