@model WebAppViewModel<SatelliteViewModel>
@{ 
    var satellite = Model.Wrapped;
}
<gouda-satellite data-satellite-id="@satellite.ID">
    <div class="satellite-name">@satellite.Name</div>
    <div class="satellite-details">
        <gouda-viewModel view-model="@satellite.IPField" />
        <gouda-viewModel view-model="@satellite.StatusField" />
    </div>
    <div class="satellite-checks">
        <div class="title"><gouda-label key="@satellite.CheckLabel" /></div>
        <gouda-viewModel view-model="@satellite.CheckControls" />
        <div class="check-container">

        </div>
    </div>
</gouda-satellite>