@using Microsoft.Extensions.Hosting
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostEnv
@inject Gouda.Application.ViewModels.Navigation.Abstraction.INavigationTreeBuilder navigationTreeBuilder
@{ 
    var navigationTree = navigationTreeBuilder.Build();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    @RenderSection(LayoutSections.GlobalStyles, required: false)
    @if (hostEnv.IsDevelopment())
    {
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/navigation.css" />
        <link rel="stylesheet" href="~/css/header.css" />
        <link rel="stylesheet" href="~/css/footer.css" />
        <link rel="stylesheet" href="~/css/satellite.css" />
        <link rel="stylesheet" href="~/css/input.css" />
        <link rel="stylesheet" href="~/css/glyph.css" />
        <link rel="stylesheet" href="~/css/common.css" />

        @RenderSection(LayoutSections.DevelopmentStyles, required: false)
    }
    else
    {
        <link rel="stylesheet" href="~/css/layout.min.css" />
        @RenderSection(LayoutSections.ProductionStyles, required: false)
    }
    <style>
        :root {
            --main-color: hsl(264, 100%, 13%);
            --main-text-color: black;
            --accent-color: hsl(95, 100%, 35%);
            --accent-text-color: white;
            --nothing-color: hsl(0, 0%, 37%);
            --valid-color: hsl(113, 100%, 40%);
            --invalid-color: hsl(0, 91%, 42%);
        }
    </style>
</head>
<body>
    <div class="site-container">
        @await Component.InvokeAsync(HeaderViewComponent.Name)
        <gouda-viewModel view-model="navigationTree" />
        <main role="main">
            @RenderBody()
        </main>
        @await Component.InvokeAsync(FooterViewComponent.Name)
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    @RenderSection(LayoutSections.GlobalScripts, required: false)
    @if (hostEnv.IsDevelopment())
    {
        <script src="~/js/site.js"></script>
        <script src="~/js/navigation.js"></script>
        <script src="~/js/input.js"></script>
        @RenderSection(LayoutSections.DevelopmentScripts, required: false)
    }
    else
    {
        <script src="~/js/layout.min.js"></script>
        @RenderSection(LayoutSections.ProductionScripts, required: false)
    }
</body>
</html>
